<a href="https://colab.research.google.com/github/khyejin1231/Masters-Thesis/blob/main/Deeplearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from google.colab import drive
import os
drive.mount('/content/drive', force_remount = True)
PATH = '/content/drive/My Drive/Colab Notebooks/BDS_Thesis'

#!pip install pickle5
#import pickle5 as pickle

#infile = open(PATH+'/final_labels_no_artists_lemma_10.pkl','rb')
#df = pickle.load(infile)


#url = 'https://github.com/khyejin1231/Masters-Thesis/blob/main/final_labels_no_artists_lemma_10.pkl?raw=true'

df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/BDS_Thesis/joined_selected_BERT_xartist_lemma10.csv')

df.reset_index(drop=True, inplace=True)

Mounted at /content/drive

In [8]:
df = df.sample(n = 30000)

In [9]:
!pip install requests
!pip install tabulate
!pip install future
!pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (0.16.0)
Looking in links: http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html
Requirement already satisfied: h2o in /usr/local/lib/python3.7/dist-packages (3.36.1.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)

In [10]:
import h2o
h2o.init()

df_h2o = h2o.H2OFrame(df)
train, valid, test = df_h2o.split_frame(ratios = [0.8, 0.1])

y= "Gender_NBinary"
x = train.names[0:768]

train["Gender_NBinary"] = train["Gender_NBinary"].asfactor()
test["Gender_NBinary"] = test["Gender_NBinary"].asfactor()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.15" 2022-04-19; OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1); OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpi4rd2u63
  JVM stdout: /tmp/tmpi4rd2u63/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpi4rd2u63/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         05 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    28 days, 15 hours and 35 minutes
H2O_cluster_name:           H2O_from_python_unknownUser_cuwx14
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.13 final
--------------------------  ----------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [11]:
from h2o.grid.grid_search import H2OGridSearch
from h2o.estimators.deeplearning import H2ODeepLearningEstimator
assignment_type = "Stratified"

hidden_opt = [[16,32, 16],[8,16, 8],[32,16,8],[248, 124, 248],[10,10,10,10],[124,62,124]]
hidden_dropout = [[0.2,0.2,0.2],[0.5,0.5,0.5]]
input_dropout_ratio = [0.1, 0.2, 0.5]
activation = ["rectifier_with_dropout", "tanh_with_dropout"]

search_criteria = {"strategy":"RandomDiscrete", "max_models":50, "max_runtime_secs":100,
          "seed":123456}         


hyper_parameters = {"hidden": hidden_opt, "input_dropout_ratio": 
                    input_dropout_ratio, "activation": activation, "hidden_dropout_ratios" : hidden_dropout}

gs_deeplearning = H2OGridSearch(H2ODeepLearningEstimator(
                fast_mode = True, balance_classes = True, variable_importances = False, fold_assignment = assignment_type,
                   nfolds = 5), hyper_params = hyper_parameters, search_criteria = search_criteria, parallelism = 0)

gs_deeplearning.train(x=x, y=y, training_frame=train, validation_frame = valid)
gs_deeplearning.show()

deeplearning Grid Build progress: |██████████████████████████████████████████████| (done) 100%
               activation          hidden hidden_dropout_ratios  \
0    RectifierWithDropout  [124, 62, 124]       [0.5, 0.5, 0.5]
1    RectifierWithDropout    [16, 32, 16]       [0.5, 0.5, 0.5]
2    RectifierWithDropout      [8, 16, 8]       [0.5, 0.5, 0.5]
3    RectifierWithDropout      [8, 16, 8]       [0.5, 0.5, 0.5]

   input_dropout_ratio                           model_ids   logloss
0                  0.2  DeepLearning_model_1652339264715_2  0.646923
1                  0.1  DeepLearning_model_1652339264715_5  0.657952
2                  0.2  DeepLearning_model_1652339264715_3  0.664421
3                  0.5  DeepLearning_model_1652339264715_4  0.665873

In [14]:
grid = gs_deeplearning.get_grid(sort_by='F1', decreasing=True)

In [15]:
grid[0]

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_1652339264715_2


Status of Neuron Layers: predicting Gender_NBinary, 2-class classification, bernoulli distribution, CrossEntropy loss, 111,168 weights/biases, 1.4 MB, 282,640 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,768,Input,20.0,,,,,,,,,
1,,2,124,RectifierDropout,50.0,0.0,0.0,0.023557,0.007531,0.0,0.000543,0.072399,0.35705,0.11221
2,,3,62,RectifierDropout,50.0,0.0,0.0,0.004609,0.001863,0.0,-0.00618,0.107091,0.993481,0.099313
3,,4,124,RectifierDropout,50.0,0.0,0.0,0.009128,0.013772,0.0,-0.04455,0.109691,0.882699,0.078754
4,,5,2,Softmax,,0.0,0.0,0.001545,0.000485,0.0,0.054346,0.413657,0.009328,0.076379

ModelMetricsBinomial: deeplearning
** Reported on train data. **

MSE: 0.22546240296963635
RMSE: 0.47482881438433827
LogLoss: 0.6409573659814459
Mean Per-Class Error: 0.42267851865391676
AUC: 0.694253131180271
AUCPR: 0.7022731837739116
Gini: 0.388506262360542

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.33578384677702056:

               0       1   Error               Rate
0      0  1157.0  3895.0   0.771    (3895.0/5052.0)
1      1   375.0  4667.0  0.0744     (375.0/5042.0)
2  Total  1532.0  8562.0   0.423   (4270.0/10094.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.335784     0.686122  320.0
1                        max f2   0.217819     0.833306  389.0
2                  max f0point5   0.427029     0.638542  228.0
3                  max accuracy   0.427029     0.635427  228.0
4                 max precision   0.912576     1.000000    0.0
5                    max recall   0.166391     1.000000  398.0
6               max specificity   0.912576     1.000000    0.0
7              max absolute_mcc   0.457156     0.290136  207.0
8    max min_per_class_accuracy   0.378219     0.628719  269.0
9   max mean_per_class_accuracy   0.427029     0.635268  228.0
10                      max tns   0.912576  5052.000000    0.0
11                      max fns   0.912576  5041.000000    0.0
12                      max fps   0.154889  5052.000000  399.0
13                      max tps   0.166391  5042.000000  398.0
14                      max tnr   0.912576     1.000000    0.0
15                      max fnr   0.912576     0.999802    0.0
16                      max fpr   0.154889     1.000000  399.0
17                      max tpr   0.166391     1.000000  398.0

Gains/Lift Table: Avg response rate: 49.95 %, avg score: 44.04 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010006,0.838866,1.803767,1.803767,0.900990,0.860194,0.900990,0.860194,0.018048,0.018048,80.376717,80.376717,0.016069
1,2,0.020111,0.818914,1.707574,1.755434,0.852941,0.829305,0.876847,0.844673,0.017255,0.035303,70.757403,75.543367,0.030355
2,3,0.030018,0.804065,1.821805,1.777338,0.910000,0.810343,0.887789,0.833343,0.018048,0.053352,82.180484,77.733834,0.046622
3,4,0.040024,0.787773,1.863232,1.798812,0.930693,0.795859,0.898515,0.823972,0.018643,0.071995,86.323202,79.881176,0.063880
4,5,0.050030,0.773653,1.684837,1.776017,0.841584,0.780876,0.887129,0.815353,0.016858,0.088854,68.483746,77.601690,0.077571
5,6,0.100059,0.697761,1.621408,1.698713,0.809901,0.737546,0.848515,0.776450,0.081119,0.169972,62.140829,69.871260,0.139687
6,7,0.149990,0.613850,1.529293,1.642314,0.763889,0.656927,0.820343,0.736661,0.076359,0.246331,52.929283,64.231394,0.192491
7,8,0.200020,0.539390,1.316155,1.560734,0.657426,0.577028,0.779594,0.696733,0.065847,0.312178,31.615538,56.073392,0.224094
8,9,0.299980,0.445534,1.186507,1.436033,0.592666,0.485221,0.717305,0.626252,0.118604,0.430781,18.650747,43.603296,0.261344
9,10,0.400040,0.401163,1.010902,1.329698,0.504950,0.421878,0.664190,0.575134,0.101150,0.531932,1.090248,32.969770,0.263523
10,11,0.500000,0.377294,0.990079,1.261801,0.494549,0.388199,0.630275,0.537762,0.098969,0.630900,-0.992102,26.180087,0.261542
11,12,0.599960,0.371665,0.896825,1.200992,0.447968,0.374930,0.599901,0.510632,0.089647,0.720547,-10.317496,20.099166,0.240935
12,13,0.700020,0.363294,0.891973,1.156821,0.445545,0.367841,0.577838,0.490222,0.089250,0.809798,-10.802722,15.682111,0.219338
13,14,0.799980,0.347528,0.773809,1.108962,0.386521,0.356004,0.553932,0.473451,0.077350,0.887148,-22.619078,10.896241,0.174163
14,15,0.899941,0.316391,0.698412,1.063361,0.348860,0.333913,0.531154,0.457952,0.069814,0.956962,-30.158758,6.336081,0.113929
15,16,1.000000,0.151954,0.430129,1.000000,0.214851,0.282293,0.499505,0.440375,0.043038,1.000000,-56.987091,0.000000,0.000000

ModelMetricsBinomial: deeplearning
** Reported on validation data. **

MSE: 0.22779479389203441
RMSE: 0.47727852863085557
LogLoss: 0.6477957597649345
Mean Per-Class Error: 0.4390921698665072
AUC: 0.643689160855248
AUCPR: 0.5723216783595805
Gini: 0.28737832171049593

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3367700970887695:

              0       1   Error              Rate
0      0  387.0  1378.0  0.7807   (1378.0/1765.0)
1      1  126.0  1167.0  0.0974    (126.0/1293.0)
2  Total  513.0  2545.0  0.4918   (1504.0/3058.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.336770     0.608129  318.0
1                        max f2   0.211241     0.785827  396.0
2                  max f0point5   0.407854     0.550112  234.0
3                  max accuracy   0.522075     0.636691  151.0
4                 max precision   0.799856     0.797619   26.0
5                    max recall   0.211241     1.000000  396.0
6               max specificity   0.895361     0.999433    0.0
7              max absolute_mcc   0.522075     0.229112  151.0
8    max min_per_class_accuracy   0.377924     0.592421  264.0
9   max mean_per_class_accuracy   0.407854     0.608393  234.0
10                      max tns   0.895361  1764.000000    0.0
11                      max fns   0.895361  1293.000000    0.0
12                      max fps   0.148275  1765.000000  399.0
13                      max tps   0.211241  1293.000000  396.0
14                      max tnr   0.895361     0.999433    0.0
15                      max fnr   0.895361     1.000000    0.0
16                      max fpr   0.148275     1.000000  399.0
17                      max tpr   0.211241     1.000000  396.0

Gains/Lift Table: Avg response rate: 42.28 %, avg score: 43.12 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010137,0.826404,1.678417,1.678417,0.709677,0.851513,0.709677,0.851513,0.017015,0.017015,67.841728,67.841728,0.011916
1,2,0.020275,0.809023,1.983584,1.831001,0.838710,0.817723,0.774194,0.834618,0.020108,0.037123,98.358406,83.100067,0.029191
2,3,0.030085,0.792494,1.892034,1.850903,0.800000,0.800506,0.782609,0.823495,0.018561,0.055684,89.203403,85.090285,0.044353
3,4,0.040222,0.775602,1.525834,1.768975,0.645161,0.784225,0.747967,0.813597,0.015468,0.071152,52.583389,76.897491,0.053589
4,5,0.050033,0.755831,1.655530,1.746731,0.700000,0.765460,0.738562,0.804159,0.016241,0.087394,65.552978,74.673076,0.064731
5,6,0.100065,0.666867,1.623068,1.684900,0.686275,0.711105,0.712418,0.757632,0.081206,0.168600,62.306841,68.489958,0.118742
6,7,0.150098,0.582875,1.375744,1.581848,0.581699,0.622991,0.668845,0.712752,0.068832,0.237432,37.574370,58.184762,0.151313
7,8,0.200131,0.509264,1.298455,1.510999,0.549020,0.546963,0.638889,0.671305,0.064965,0.302398,29.845473,51.099940,0.177185
8,9,0.300196,0.433610,1.112961,1.378320,0.470588,0.467619,0.582789,0.603409,0.111369,0.413766,11.296119,37.832000,0.196769
9,10,0.399935,0.396799,1.046822,1.295649,0.442623,0.413924,0.547833,0.556154,0.104408,0.518175,4.682211,29.564881,0.204860
10,11,0.522891,0.376571,0.899471,1.202489,0.380319,0.383368,0.508443,0.515524,0.110596,0.628770,-10.052904,20.248879,0.183445
11,12,0.600065,0.370634,0.921966,1.166411,0.389831,0.373447,0.493188,0.497252,0.071152,0.699923,-7.803427,16.641062,0.173010
12,13,0.699804,0.361181,0.907246,1.129474,0.383607,0.366497,0.477570,0.478616,0.090487,0.790410,-9.275417,12.947359,0.156982
13,14,0.799869,0.344303,0.881094,1.098401,0.372549,0.353207,0.464432,0.462927,0.088167,0.878577,-11.890572,9.840079,0.136367
14,15,0.899935,0.311572,0.641498,1.047597,0.271242,0.329947,0.442951,0.448141,0.064192,0.942769,-35.850153,4.759697,0.074214
15,16,1.000000,0.148275,0.571938,1.000000,0.241830,0.278948,0.422825,0.431210,0.057231,1.000000,-42.806161,0.000000,0.000000

ModelMetricsBinomial: deeplearning
** Reported on cross-validation data. **

MSE: 0.2274797776554482
RMSE: 0.47694840146020845
LogLoss: 0.646923179453422
Mean Per-Class Error: 0.4553698075156007
AUC: 0.6362309955974826
AUCPR: 0.5624659214934902
Gini: 0.2724619911949653

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3238638063614796:

               0        1   Error                Rate
0      0  2615.0  11480.0  0.8145   (11480.0/14095.0)
1      1   954.0   8956.0  0.0963      (954.0/9910.0)
2  Total  3569.0  20436.0   0.518   (12434.0/24005.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.323864      0.590259  317.0
1                        max f2   0.121779      0.778537  399.0
2                  max f0point5   0.394382      0.531970  229.0
3                  max accuracy   0.463978      0.635159  175.0
4                 max precision   0.804666      0.888889    4.0
5                    max recall   0.121779      1.000000  399.0
6               max specificity   0.838035      0.999929    0.0
7              max absolute_mcc   0.457328      0.212774  179.0
8    max min_per_class_accuracy   0.368559      0.594892  257.0
9   max mean_per_class_accuracy   0.394382      0.599978  229.0
10                      max tns   0.838035  14094.000000    0.0
11                      max fns   0.838035   9909.000000    0.0
12                      max fps   0.121779  14095.000000  399.0
13                      max tps   0.121779   9910.000000  399.0
14                      max tnr   0.838035      0.999929    0.0
15                      max fnr   0.838035      0.999899    0.0
16                      max fpr   0.121779      1.000000  399.0
17                      max tpr   0.121779      1.000000  399.0

Gains/Lift Table: Avg response rate: 41.28 %, avg score: 40.88 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010040,0.745061,1.909698,1.909698,0.788382,0.769133,0.788382,0.769133,0.019173,0.019173,90.969765,90.969765,0.015554
1,2,0.020037,0.720565,1.937841,1.923740,0.800000,0.732193,0.794179,0.750701,0.019374,0.038547,93.784057,92.373985,0.031523
2,3,0.030035,0.701973,1.746075,1.864600,0.720833,0.710695,0.769764,0.737384,0.017457,0.056004,74.607509,86.460041,0.044227
3,4,0.040033,0.684082,1.746075,1.835000,0.720833,0.692666,0.757544,0.726216,0.017457,0.073461,74.607509,83.499991,0.056930
4,5,0.050031,0.669438,1.604774,1.788993,0.662500,0.677035,0.738551,0.716388,0.016044,0.089506,60.477422,78.899311,0.067228
5,6,0.100021,0.599071,1.552291,1.670691,0.640833,0.634283,0.689713,0.675353,0.077598,0.167104,55.229104,67.069137,0.114248
6,7,0.150010,0.534666,1.400897,1.580785,0.578333,0.565468,0.652597,0.638734,0.070030,0.237134,40.089724,58.078497,0.148379
7,8,0.200000,0.485276,1.245466,1.496973,0.514167,0.508488,0.617996,0.606180,0.062260,0.299395,24.546628,49.697275,0.169277
8,9,0.300021,0.418478,1.126910,1.373601,0.465223,0.448523,0.567065,0.553620,0.112714,0.412109,12.690957,37.360123,0.190896
9,10,0.400000,0.381889,1.046636,1.291877,0.432083,0.397541,0.533326,0.514608,0.104642,0.516751,4.663576,29.187689,0.198837
10,11,0.500021,0.366398,0.949348,1.223360,0.391920,0.373457,0.505040,0.486373,0.094955,0.611705,-5.065183,22.335973,0.190208
11,12,0.600000,0.357197,0.875056,1.165321,0.361250,0.361475,0.481080,0.465561,0.087487,0.699193,-12.494387,16.532122,0.168934
12,13,0.699979,0.344828,0.818536,1.115789,0.337917,0.351153,0.460632,0.449220,0.081837,0.781029,-18.146422,11.578929,0.138035
13,14,0.800000,0.331973,0.851488,1.082745,0.351520,0.338583,0.446990,0.435388,0.085166,0.866196,-14.851237,8.274470,0.112737
14,15,0.899979,0.311819,0.704486,1.040724,0.290833,0.323098,0.429643,0.422913,0.070434,0.936630,-29.551421,4.072372,0.062419
15,16,1.000000,0.117981,0.633571,1.000000,0.261558,0.281699,0.412831,0.408789,0.063370,1.000000,-36.642864,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.504725,0.034948,0.474401,0.498116,0.518704,0.557816,0.474587
1,auc,0.641262,0.007956,0.640170,0.638191,0.648740,0.649119,0.630087
2,err,0.495275,0.034948,0.525599,0.501884,0.481296,0.442184,0.525413
3,err_count,2377.800000,168.603680,2546.000000,2398.000000,2303.000000,2130.000000,2512.000000
4,f0point5,0.497987,0.013128,0.484660,0.498291,0.501309,0.517896,0.487779
5,f1,0.592950,0.003212,0.588824,0.597381,0.594042,0.593356,0.591146
6,f2,0.733842,0.023633,0.750021,0.745662,0.728869,0.694556,0.750103
7,lift_top_group,1.911589,0.100806,1.940327,1.899841,1.930747,2.032552,1.754477
8,logloss,0.646928,0.003337,0.646516,0.648735,0.642797,0.645109,0.651482
9,max_per_class_error,0.754770,0.099097,0.833742,0.784356,0.717676,0.600212,0.837867
10,mcc,0.147092,0.033202,0.121691,0.143225,0.166384,0.192869,0.111292
11,mean_per_class_accuracy,0.559355,0.022118,0.541861,0.554582,0.570571,0.591725,0.538037
12,mean_per_class_error,0.440645,0.022118,0.458139,0.445418,0.429429,0.408275,0.461963
13,mse,0.227482,0.001565,0.227264,0.228429,0.225551,0.226598,0.229567
14,pr_auc,0.566872,0.006984,0.565044,0.567281,0.568131,0.576699,0.557205
15,precision,0.450107,0.017421,0.433532,0.448676,0.454056,0.477419,0.436854
16,r2,0.061531,0.004822,0.060641,0.060199,0.067606,0.064406,0.054801
17,recall,0.873481,0.055353,0.917464,0.893521,0.858818,0.783661,0.913941
18,rmse,0.476949,0.001641,0.476722,0.477943,0.474923,0.476023,0.479132
19,specificity,0.245230,0.099097,0.166258,0.215644,0.282324,0.399788,0.162133

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,...,training_pr_auc,training_lift,training_classification_error,validation_rmse,validation_logloss,validation_r2,validation_auc,validation_pr_auc,validation_lift,validation_classification_error
0,,2022-05-12 07:34:00,0.000 sec,None,0.000000,0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,2022-05-12 07:34:08,25 min 16.744 sec,1260 obs/sec,0.051720,1,1457.0,0.563472,0.883441,-0.270002,...,0.555967,1.387513,0.498910,0.525199,0.780316,-0.130262,0.567588,0.487682,1.602126,0.556900
2,,2022-05-12 07:34:30,25 min 38.113 sec,1875 obs/sec,1.393099,27,39245.0,0.497296,0.687713,0.010786,...,0.631809,1.684837,0.490886,0.485717,0.664601,0.033286,0.615320,0.553999,2.136167,0.569653
3,,2022-05-12 07:34:47,25 min 54.754 sec,1986 obs/sec,2.528451,49,71229.0,0.501086,0.695590,-0.004350,...,0.649363,1.746829,0.470378,0.485902,0.664939,0.032548,0.624886,0.562552,1.678417,0.564421
4,,2022-05-12 07:35:04,26 min 12.023 sec,2025 obs/sec,3.705690,72,104393.0,0.490474,0.673757,0.037742,...,0.660473,1.783946,0.459778,0.479414,0.652044,0.058210,0.631510,0.569817,1.907292,0.549052
5,,2022-05-12 07:35:20,26 min 28.196 sec,2062 obs/sec,4.836144,94,136239.0,0.489282,0.671267,0.042413,...,0.669040,1.884220,0.489895,0.480507,0.654286,0.053914,0.635555,0.566494,1.754709,0.518640
6,,2022-05-12 07:35:37,26 min 45.602 sec,1971 obs/sec,5.710553,111,160872.0,0.482761,0.657652,0.067768,...,0.674950,1.783946,0.477908,0.478448,0.650027,0.062003,0.633576,0.570867,1.907292,0.548398
7,,2022-05-12 07:35:56,27 min 4.920 sec,1897 obs/sec,6.643073,129,187142.0,0.496176,0.685980,0.015238,...,0.680476,1.744302,0.439667,0.482767,0.658791,0.044993,0.636815,0.565571,1.754709,0.525180
8,,2022-05-12 07:36:19,27 min 27.513 sec,1844 obs/sec,7.822087,152,220356.0,0.480470,0.652883,0.076595,...,0.687945,1.744302,0.440559,0.478098,0.649351,0.063377,0.640472,0.570135,1.754709,0.507521
9,,2022-05-12 07:36:37,27 min 46.087 sec,1816 obs/sec,8.752476,170,246566.0,0.486000,0.664627,0.055214,...,0.694961,1.803767,0.423123,0.478672,0.650438,0.061124,0.641514,0.571254,1.525834,0.513734
10,,2022-05-12 07:37:01,28 min 9.815 sec,1789 obs/sec,9.981648,194,281193.0,0.478583,0.649054,0.083831,...,0.704159,1.805710,0.433921,0.476611,0.646057,0.069194,0.646290,0.576835,1.831001,0.480052
11,,2022-05-12 07:37:04,28 min 13.058 sec,1789 obs/sec,10.033013,195,282640.0,0.474829,0.640957,0.098150,...,0.702273,1.803767,0.423024,0.477279,0.647796,0.066583,0.643689,0.572322,1.678417,0.491825